<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Bulletin Board </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'></link>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches|Lato" rel="stylesheet"></link>
    <script type="text/javascript" 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css" rel="stylesheet"></link>
    <link rel='stylesheet' href='/public/css/style.css' type='text/css'></link>
</head>

<body>
    <nav>
    <div class="container">
      <div class="nav-wrapper"> blog application
        <ul class="right hide-on-med-and-down">
          <div class="drop-down">
              <button>Posts</button>
              <div>
                <li><a href="addpost">Add Post</a></li>
                <li><a href="allposts">All Posts</a></li>
                <li><a href="myposts">My Posts</a></li>
              </div>
            </div>
          <li><a href="/"><i class="large material-icons left">home</i>Home</a></li>
          <li><a id="login" href="#">Login/register</a></li>
          <!-- <li><a href="#"><i class="large material-icons left">search</i>search</a></li> -->
          <li><a id="search" href="#">Search</a></li>
          <li><a href="logout">Logout</a></li>
          </div>
        </ul>
      </div>
    </div>

    <!-- Login menu that shows up when clicking "Login/register" -->
    <div id="login-form" class="webui-popover-content">
        <form action="/login" method="post">
            <div class="input-field">
                <input type="text" placeholder="username">
            </div>
            <div class="input-field">
                <input type="password" placeholder="password">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Login
            </button>         <a class="registerHere" href="register">Or Register</a>
        </form>
    </div>
    <div id="search-form" class="webui-popover-content">
        <form action="/search" method="post">
          <div class="search">
            <input type="text" placeholder="Search..">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
            </button>
          </div>
        </form>
    </div>
    </body>
  </nav>
