<%- include('partials/header'); -%>
<br>
<br>

<div class="container row">
    <h1>Sorry, you've either typed in the wrong password <br> OR <br> this user doesn't exist in our database!</h1>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
<%- include('partials/footer'); -%>