<%- include('partials/header'); -%>
<br>
<br>
<div class="indexcontent">
  <p><b>Welcome to this unnamed blog application!</b> 
    <br>
    <br>
    Project Specification<br>
    Create a blogging application that allows users to do the following:<br>
    - register an account<br>
    - login<br>
    - logout<br>
    <br>
    Once logged in, a user should be able to:<br>
    - create a post<br>
    - view a list of their own posts<br>
    - view a list of everyone's posts<br>
    - view a specific post, including the comments people have made about it<br>
    - leave a comment on a post<br>
    <br>
    Prior to coding, determine the following:<br>
    - your tables: what columns will they have? How will they connect to one another?<br>
    - make a diagram showing the relationships between tables.<br>
    - your routes: what routes should you have? What should each route do?<br>
    Once you are done designing your application, then proceed with coding.<br>
    Submit this document in a text file as part of your application.<br>
    <br>
    Other requirements:<br>
    Your routes must be "RESTful". See slide 4 of the http requests lecture: Link. Also look at the RESTful<br> routing example in the node sample apps.<br>
    You must use Sequelize for this assignment. Your connection string must once again be read from the<br> environment variables you set up for the Bulletin Board assignment.<br>
    Commit well - each commit should ideally be a new piece of functionality.<br><br><br><br>.
  </p>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
<%- include('partials/footer'); -%>