<%- include('partials/header'); -%>
<br>
<br>
<div class="indexcontent">
  <p><b>Welcome to this unnamed blog application!</b> 
<br><br><br>
    <div id="login-form">
        <form action="/login" method="post">
            <div class="input-field">
                <input type="text" placeholder="username">
            </div>
            <div class="input-field">
                <input type="password" placeholder="password">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Login
            </button>         <a class="registerHere" href="register">Or Register</a>
        </form>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
<%- include('partials/footer'); -%>